<span class="product-buttons">
  {{ if .press }}
    {{ range .press }}
      <span class="press">
        <a
          href="{{ .url }}"
          class="cite-button press"
          title="{{ i18n "press" }} {{ .source }}"
          >{{ i18n "press" }}</a
        >
        –
        <a href="{{ .url }}">{{ index .source $.lang }}</a></span
      >
    {{ end }}
  {{ end }}

  {{ if .handout }}
    <a
      href="{{ .handout }}"
      class="cite-button handout"
      title="{{ i18n "download_handout" }}"
      >Handout</a
    >
  {{ end }}

  {{ if .video }}
    <a
      href="{{ .video }}"
      class="cite-button video"
      title="{{ i18n "watch_video" }}"
      >Video</a
    >
  {{ end }}

  {{ if .links }}
    <!-- UCLouvain -->
    {{ $ucl := index (where .links "type" "UCLouvain") 0 }}
    {{ if $ucl }}
      <a
        href="{{ $ucl.url }}"
        class="cite-button uclouvain"
        title="{{ i18n "link_at" }} UCLouvain DIAL"
        >UCLouvain DIAL</a
      >
    {{ end }}


    <!-- Amazon -->
    {{ $az := index (where .links "type" "Amazon") 0 }}
    {{ if $az }}
      <a
        href="{{ $az.url }}"
        class="cite-button amazon"
        title="{{ i18n "link_at" }} Amazon"
        >Amazon</a
      >
    {{ end }}


    <!-- Google Books -->
    {{ $gb := index (where .links "type" "Google Books") 0 }}
    {{ if $gb }}
      <a
        href="{{ $gb.url }}"
        class="cite-button google"
        title="{{ i18n "link_at" }} Google Books"
        >Google Books</a
      >
    {{ end }}


    <!-- PhilPapers -->
    {{ $pp := index (where .links "type" "PhilPapers") 0 }}
    {{ if $pp }}
      <a
        href="{{ $pp.url }}"
        class="cite-button philpapers"
        title="{{ i18n "link_at" }} PhilPapers"
        >PhilPapers</a
      >
    {{ end }}


    <!-- PhilSci-Archive -->
    {{ $psa := index (where .links "type" "PhilSci-Archive") 0 }}
    {{ if $psa }}
      <a
        href="{{ $psa.url }}"
        class="cite-button philsci-archive"
        title="{{ i18n "link_at" }} PhilSci-Archive"
        >PhilSci-Archive</a
      >
    {{ end }}


    <!-- figshare -->
    {{ $fs := index (where .links "type" "figshare") 0 }}
    {{ if $fs }}
      <a
        href="{{ $fs.url }}"
        class="cite-button figshare"
        title="{{ i18n "link_at" }} figshare"
        >figshare</a
      >
    {{ end }}
  {{ end }}
</span>
