<div class="para-list">
  {{ range where .Site.Data.publications.pubs "type" "in" .Params }}
    <div class="para-list-item">
      {{ if .authors }}
        {{ .authors | markdownify }}
      {{ else }}
        {{ .editors | markdownify }},
        {{ if or (strings.Count " & " .editors) (strings.Count " and " .editors) }}
          eds.
        {{ else }}
          ed.
        {{ end }}
      {{ end }}

      {{ if .status }}
        {{ i18n .status }}.
      {{ else if .year }}
        {{ .year | lower }}.
      {{ end }}

      {{ $title_end := last 1 .title }}
      {{ $title_suffix := "" }}
      {{ if and (ne $title_end "?") (ne $title_end "!") }}
        {{ $title_suffix = "." }}
      {{ end }}

      {{ if or .journal .inbook (eq .type "gray") }}
        {{ if .pdf }}
          “<a href="{{ .pdf }}">{{ .title }}</a>{{ $title_suffix }}”
        {{ else if .official }}
          “<a href="{{ .official }}">{{ .title }}</a>{{ $title_suffix }}”
        {{ else }}
          “{{ .title }}{{ $title_suffix }}”
        {{ end }}
      {{ else }}
        {{ if .pdf }}
          <em><a href="{{ .pdf }}">{{ .title }}</a>{{ $title_suffix }}</em>
        {{ else if .official }}
          <em><a href="{{ .official }}">{{ .title }}</a>{{ $title_suffix }}</em>
        {{ else }}
          <em>{{ .title }}{{ $title_suffix }}</em>
        {{ end }}
      {{ end }}

      {{ if .journal }}
        <em>{{ .journal }}</em
        >{{ if and (not .volume) (not .number) (not .spage) }}.{{ end }}
      {{ end }}

      {{ if .volume }}
        {{ .volume }}{{ if and .spage (not .number) }}:{{ end }}
      {{ end }}
      {{ if .number }}
        ({{ .number }}){{ if .spage }}:{{ end }}
      {{ end }}

      {{ if .inbook }}
        {{ i18n "inbook" }}
        <em>{{ .inbook }}</em>, {{ .editors | markdownify }},
        {{ if or (strings.Count " & " .editors) (strings.Count " and " .editors) }}
          eds.
        {{ else }}
          ed.
        {{ end }}
      {{ end }}

      {{ if or .inbook (eq .type "book") (eq .type "gray") }}
        {{ if .city }}
          {{ .city }}:
        {{ end }}
        {{ if .publisher }}
          {{ .publisher }}{{- if not .spage -}}
            .
          {{- else if and .inbook .spage -}}
            , pp.
          {{- end }}
        {{ end }}
      {{ end }}

      {{ if .spage }}
        {{ .spage }}{{ if .epage }}–{{ .epage }}{{ end }}.
      {{ end }}

      {{ if .doi }}
        doi: <a href="https://doi.org/{{ .doi }}">{{ .doi }}</a>
      {{ end }}

      {{ if .isbn }}
        ISBN:
        <a href="https://www.worldcat.org/search?q=isbn%3A{{ .isbn }}"
          >{{ .isbn }}</a
        >
      {{ end }}

      {{ if .official }}
        <a href="{{ .official }}">{{ i18n "publisher" }}</a>
      {{ end }}


      <br />
      {{ if .reprints }}
        {{ range .reprints }}
          <span class="small"
            >{{ i18n "reprint" }} {{ .description | markdownify }}</span
          >
          <br />
        {{ end }}
      {{ end }}
      <div class="details">
        {{ partial "buttons" (merge . (dict "lang" $.Site.Language.Lang)) }}
      </div>
    </div>
  {{ end }}
</div>
