<div class="para-list">
  {{ range (first (.Get 0) $.Site.Data.talks.talks) }}
    <div class="para-list-item">
      {{ .time }}:
      {{ if .pdf }}
        <a href="{{ .pdf }}">{{ .title }}</a>
      {{ else }}
        {{ .title }}
      {{ end }}
      <div class="details">
        {{ if .conference_url }}
          <a href="{{ .conference_url }}"><em>{{ .conference }}</em></a>
        {{ else }}
          <em>{{ .conference }}</em>
        {{ end }}{{ if .dates }}| {{ .dates }}{{ end }}<br />
        {{ i18n "presenters" }}
        {{ .presenters }}
        {{ if .published }}
          |
          {{ i18n "talk_published" }}
          {{ .published | markdownify }}
        {{ end }}<br />
        {{ partial "buttons" (merge . (dict "lang" $.Site.Language.Lang)) }}
      </div>
    </div>
  {{ end }}
</div>
